@font-face{
    font-family: "Zekton Rg";
    src: url("./police/zekton/zekton\ rg.ttf") format("truetype");
         font-weight: normal;
         font-style: normal;
}

body{
    background-image: url("./image/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vh;
    color: rgb(255, 255, 255);
    margin: 0 30% 0 30%;
    font-family: "Zekton Rg";
}

.perso > *{
    float: left;
}

.pp{
    border-radius: 10px;
}

.div{
    display: inline-block;
}

.resume{
    font-size: 20px;
    width: 50%;
    color: gray;
    font-weight: bold;

}

.competences .formation .exp{
    color: #ffff;
}

a{
    color: #ffff;
    text-decoration: none;
}